name: Format Python code with Black i.e. `BLACKEN` code

on: [push]

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'  # Use the latest Python 3 version
    - name: Install Black
      run: pip install black
    - name: Run Black
      run: black .
    - name: Commit changes
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Format Python code with Black [skip ci]
        branch: ${{ github.head_ref }}
        commit_options: '--no-verify'
        file_pattern: '.'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
